Makefile
*.o
*.Po
*.out
*.a
Makefile.in
vice/doc/html
vice/aclocal.m4
vice/configure
vice/configure~
vice/depcomp
vice/compile
vice/config.log
vice/config.status
vice/missing
vice/ylwrap
vice/src/resid/wave8580__ST.h
vice/src/resid/wave8580_P_T.h
vice/src/resid/wave8580_PS_.h
vice/src/resid/wave8580_PST.h
vice/src/resid/autom4te.cache/output.0
vice/src/resid/autom4te.cache/output.1
vice/src/resid/autom4te.cache/output.2
vice/src/resid/autom4te.cache/requests
vice/src/resid/autom4te.cache/traces.0
vice/src/resid/autom4te.cache/traces.1
vice/src/resid/autom4te.cache/traces.2
vice/src/tools/petcat/petcat
vice/src/c1541
vice/src/config.h
vice/src/config.h.in
vice/src/debug.h
vice/src/infocontrib.h
vice/src/stamp-h1
vice/src/version.h
vice/src/vice-version.sh
vice/src/vsid
vice/src/x64dtv
vice/src/x64sc
vice/src/x128
vice/src/xcbm2
vice/src/xcbm5x0
vice/src/xpet
vice/src/xplus4
vice/src/xscpu64
vice/src/xvic
vice/src/tools/cartconv/cartconv
vice/src/resid-dtv/aclocal.m4
vice/src/resid-dtv/config.log
vice/src/resid-dtv/config.status
vice/src/resid-dtv/configure
vice/src/resid-dtv/configure~
vice/src/resid-dtv/COPYING
vice/src/resid-dtv/INSTALL
vice/src/resid-dtv/siddtvdefs.h
vice/src/resid/aclocal.m4
vice/src/resid/config.log
vice/src/resid/config.status
vice/src/resid/configure
vice/src/resid/configure~
vice/src/resid/COPYING
vice/src/resid/INSTALL
vice/src/resid/siddefs.h
vice/src/resid/wave6581__ST.h
vice/src/resid/wave6581_P_T.h
vice/src/resid/wave6581_PS_.h
vice/src/resid/wave6581_PST.h
vice/src/monitor/mon_lex.c
vice/src/monitor/mon_parse.c
vice/src/monitor/mon_parse.h
vice/src/arch/shared/hotkeys/keysymtable.h
vice/src/c64/psiddrv.h
vice/src/c64/psiddrv.o65
vice/autom4te.cache/output.0
vice/autom4te.cache/output.1
vice/autom4te.cache/output.2
vice/autom4te.cache/output.3
vice/autom4te.cache/requests
vice/autom4te.cache/traces.0
vice/autom4te.cache/traces.1
vice/autom4te.cache/traces.2
vice/autom4te.cache/traces.3
vice/src/resid-dtv/autom4te.cache/output.0
vice/src/resid-dtv/autom4te.cache/output.1
vice/src/resid-dtv/autom4te.cache/output.2
vice/src/resid-dtv/autom4te.cache/requests
vice/src/resid-dtv/autom4te.cache/traces.0
vice/src/resid-dtv/autom4te.cache/traces.1
vice/src/resid-dtv/autom4te.cache/traces.2
vice/data/common/vice.gresource
vice/src/arch/gtk3/novte/box_drawing.h
vice/src/arch/gtk3/novte/marshal.cc
vice/src/arch/gtk3/novte/marshal.h
vice/src/arch/gtk3/novte/vtetypebuiltins.cc
vice/src/arch/gtk3/novte/vtetypebuiltins.h
